
.home li{
  display: inline-block;
  list-style: none;
  padding:13px 20px 13px 20px;
  border-left: 1px solid #258FC1;
}

.home {
  background:#0b6d8d url("menubg-blue.png")repeat-x ;
}

.container { 
  width: 80%;
  margin: auto;
}

.home a{
  color:white;
  text-decoration: none;
}

#lista {
  margin:0;
  padding:0;

}
.home li:hover{
  
  background-color: #0b506c;
}